
.loginButton, .submitStory{
  float: right;
}

.sortingHeader {
  background-color: yellow;
  border-radius: 10px;
}

.cardTableContainer {
  overflow-y: scroll;
}

.acceptStory {
  float: left
}

.rejectStory {
  float: right
}

th {
  cursor: pointer;
}

.acceptedRow {
  color: green;
}

.rejectedRow {
  color: red;
}
